.header {
  display: flex;

  background-color: #F8EEE1;
  padding: 30px;
  justify-content: space-between;

  .menuBtnContainer {
    display: flex;
    gap: 10px;
  }

  .btn {
    color: black;

    &:hover {
      color: #E65A41;
    }
  }
}